
  .popular{
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    padding-left: 25%;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-left: 40%;
}
.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    padding-left: 50px;
    
 }
 .popular-item old_price{
    text-decoration: line-through;
 }


 